<h1>All restaurants</h1> <%= link_to "Create New Restaurant", new_restaurant_path  %>
<% @restaurants.each do |restaurant| %>
<ul><%= link_to restaurant.name, restaurant_path(restaurant)  %> // <%= restaurant.address %> // <%= restaurant.category %></ul>
<% end %>


